<h1>PinPad</h1>
<button (click)="startServerHub()" >Conectar con Hub</button>
<hr>
<button (click)="pingHub()" >Test connection</button>
<hr>
<button (click)="closeServerHub()" >Close connection</button>
<hr>
<button (click)="conectarSantander()" >Santander PinPad</button>
<hr>
<button (click)="inicializarSantander()" >Inicializar pinpad</button>
<hr>
<button (click)="cobroBbva()" >Cobro BBVA PinPad</button>
<hr>
<button (click)="cancelaBbva()" >Cancela BBVA PinPad</button>
<button (click)="cancelacionDevolucionBbva()" >Cancela y Devolucion BBVA PinPad</button>
